.badge {
  background-color: tomato;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.badge-2 {
  background-color: tomato;
  border-radius: 50%;
  align-items: center;
  width: 6px;
  height: 6px;
  position: absolute;
}
